#form{
    margin: auto;
    padding: 14px, 12px;
    width: 20%;}
   
 
 
    button{
        background-color: rgb(241, 81, 129);
        border: solid gray;
        color: white;
        padding: 15px 32px;
        margin: center;
        text-align: center;
        border-radius: 20px;
 
 
    }
 