#form{
    margin: auto;
    padding: 14px, 12px;
    width: 20%;
    margin-left: 70%;
}
    
   
 
 
    button{
        background-color: rgb(241, 81, 129);
        border: solid gray;
        color: white;
        padding: 15px 32px;
        margin: center;
        text-align: center;
        border-radius: 20px;
 
 
    }
 .background{
    background-color: aqua;
    border: solid aqua;
    width: 90%;
    margin: auto;

    

 }